@import './../../styles/index.scss';

.card-body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 36%;
    padding: 10px;
        
        .card-name {
            font-size: 18px;
            color:$card-title-text;
            height:0%
        }
        
        .card-intents {
            font-size: 14px;
            color: $card-subtext;
        }
}